h2 {
    text-align: center;
    border: 1px solid #e71f80;
    padding: 5px;
}
h2>span {
    color: #e71f80;
}
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.column {
    width: 50%;
}
@media screen and (max-width: 768px) {
    .column {
        width: 100%;
    }
}
