.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.column {
    width: 50%;
}
@media screen and (max-width: 768px) {
    .column {
        width: 100%;
    }
}